.content .title {
  font-size: 18pt;
  font-family: 'Serif';
  color: #243239;
  margin-bottom: 10px;
}

.content .synopsis {
  font-size: 12pt;
  font-family: 'Serif';
}

.content .article {
  padding: 30px;
}

.content .app-info {
  margin-top: 20px;
  margin-bottom: 25px;
}

.artwork .preview {
  min-height: 400px;
  min-width: 400px;
}

.artwork .title {
  font-size: 22pt;
}

.artwork .synopsis {
  font-size: 16pt;
  color: black;
}

.small-header {
  font-size: 9pt;
  font-weight: bold;
  color: #5b8291;
}

.underline {
  background-color: #5b8291;
}

.subcard {
  padding: 20px;
  margin: 20px;
  background-color: white;
}

.subcard-layout {
  min-height: 250px;
}

.quote {
  font-size: 16pt;
  font-family: 'Lato';
  font-style: oblique;
  margin: 20px 0 20px 0;
}

.quote-author {
  font-size: 10pt;
  font-family: 'Lato';
  font-weight: bold;
}

.bolded-word {
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Serif';
  margin-top: 20px;
}

.word-detail {
  font-size: 14pt;
  font-style: oblique;
  margin-top: 20px;
}

.word-description {
  font-size: 14pt;
}

list.stories row .content {
  padding: 0px;
  margin: 12.5px 0px 12.5px 0px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3);
}

list.stories {
  background-color: transparent;
}

.content-list-container {
  margin: 0px 50px 0px 50px;
}

.header {
  margin: 10px 5px 10px 5px;
}

.header .date {
  font-size: 64px;
  font-family: 'Lato';
  color: #5b8291;
}

.header .recommended-stories {
  font-size: 18px;
  font-family: 'Lato';
}

window {
  background-color: #f0efee;
}

button .close {
  background-image: url('resource:///com/endlessm/DiscoveryFeed/img/close_button.svg');
  background-size: 12px;
  background-position: 50%;
  background-repeat: no-repeat;
}
